<%- include("../partials/header") -%>

<div class="container-fluid">
    <%let i = 1%>
    <%walks.forEach(walk=>{%>
        <%if(i%2){%>
            <%i++%>
            <div class="row">
                <img class="col-lg-6 p-0" src="<%=walk.image%>" alt="">
                <div class="col-lg-6 order-2 order-lg-1 p-4">
                    <h1><%=walk.name%></h1>
                    <p><%=walk.description%></p> 
                    <a class="btn btn-info align-self-end" href="walks/<%=walk._id%>">More info on <%=walk.name%></a>   
                    <a class="btn btn-info" href="walks/<%=walk._id%>/book">Book your spot for <%=walk.name%></a>   
                </div>
            </div>
        <%}else{%>
            <%i++%>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 p-4">
                    <h1><%=walk.name%></h1>
                    <p><%=walk.description%></p> 
                    <a class="btn btn-info" href="walks/<%=walk._id%>">More info on <%=walk.name%></a>   
                    <a class="btn btn-info" href="walks/<%=walk._id%>/book">Book your spot for <%=walk.name%></a>   
                </div>
                <img class="col-lg-6 order-1 order-lg-2 p-0" src="<%=walk.image%>" alt="">
            </div>
        <%}%>
    <%})%>
    
</div>

<%- include("../partials/footer") -%>