<%- include("../partials/header") -%>

<div class="container">
    <div class="card mb-3">
        <img class="card-img-top" src="<%=walk.image%>" alt="Card image cap">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title"><%=walk.name%></h3>
                </div>
                <div class="col-6 text-right">
                    <strong>Price: $<%=walk.price%></strong>
                </div>
            </div>
            <p class="card-text"><%-walk.description%></p>
            <p class="card-text"><small class="text-muted">Next Walk <%=walk.nextDate.toDateString()%> starting at <%=walk.startTime%> to <%=walk.endTime%></small></p>
            <a class="btn btn-info" href="/walks/<%=walk._id%>/book">Book your spot now!</a>
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="card-title">Punto de encuentro: <%=walk.meetingPoint.name%></h5>
                    <p><%=walk.meetingPoint.description%></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../partials/footer") -%>