<%- include("../../partials/header") -%>
<h1 class="display-4 page-header text-center text-white py-3"
data-aos="fade-zoom-in"
data-aos-duration="800"
>Book <%=booking.walk[0].name%>!</h1>

<div class="container-fluid">
    <div class="row justify-content-center pt-3"
    data-aos="fade-bottom"
    data-aos-duration="800"
    >
        <%if(booking.walk[0].image){%>
            <div class="col-xl-5 fill" style="background-image: url(<%=booking.walk[0].image%>);"></div>
        <%}%>
        <!-- <img class="col-lg-6" src="<%=booking.walk[0].image%>" alt="Card image cap"> -->
        <div class="col-xl-5">
            <div class="row pt-3">
                <div class="col-6">
                    <h5 class="card-title">Booking form for <%=booking.walk[0].name%> on <%=booking.date.toDateString()%> from <%=booking.start_time%> to <%=booking.end_time%> </h5>
                </div>
                <div class="col-6 text-right">
                    <strong>Price: $<%=booking.price%></strong>
                    <p class="card-text">Spots left: <%=booking.spots-booking.booked_spots%> | Total spots: <%=booking.spots%></p>
                </div>
            </div>
            <h5 class="card-title">Meeting Point: <%=booking.meetingPoint[0].name%></h5>
            <p><%=booking.meetingPoint[0].description%></p>
            <form action="/booking/<%=booking._id%>" method="POST">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="client[name]" placeholder="Full Name" id="" required>
                </div>
                <div class="form-group">
                    <label for="">Email</label>
                    <input type="email" class="form-control" name="client[email]" id="" placeholder="Your email" required>
                </div>
                <div class="form-group">
                    <label>Special Needs</label>
                    <textarea name="client[special_needs]" type="text" class="form-control" placeholder="Anything you need us to know (i.e. Health condtitions, injuries, concerns, dietary restrictions, allergies.)" cols="30" rows="5" ></textarea>
                </div>
                <%if(booking.pickup===true || booking.personalized===true){%>
                    <div class="form-group">
                        <%if(booking.pickup){%>
                            <p><strong>This walk includes a pick-up service, please include the following:</strong></p>
                        <%}else{%>
                            <p><strong>Please include your location to coordinate a Meeting Point:</strong></p>
                        <%}%>
                        <label>Accomodation Name</label>
                        <input type="text" class="form-control" name="meetingPoint[name]" id="" placeholder="Hotel/Hostel/BnB Name" required>
                    </div>    
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="meetingPoint[description]" type="text" class="form-control" placeholder="Address for your acommodation to arrange the pickup service (Please include if the address is an airBnB or unlisted BnB)" cols="30" rows="5" required></textarea>
                    </div>
                <%}%> 
                <div class="row">
                    <div class="col-xl-6">
                        <button class="btn btn-info">Book your spot now!</button>
                    </div>
                    <div class="col-xl-6 form-group">
                        <input type="text" class="form-control" name="client[special_code]" placeholder="Referral Code" id="">
                    </div>
                </div>   
            </form>
        </div>
    </div>
</div>



<%- include("../../partials/footer") -%>