<%- include("../../partials/header") -%>

<div class="container mt-3">
    <div class="card mb-3"
    data-aos="fade-bottom"
    data-aos-duration="1200"
    >
        <%if(booking.image){%>
            <img class="card-img-top" src="<%=booking.image%>" alt="">
        <%}%>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title"><%=booking.name%> <%if(booking.personalized){%>(Personalized)<%}%></h3>
                </div>
                <div class="col-6 text-right">
                    <%if(!booking.personalized){%>
                        <%if(booking.spots-booking.booked_spots>1){%>
                            <%=booking.spots-booking.booked_spots%> spots Left! 
                        <%}else{%>
                            1 spot Left!
                        <%}%>
                    <%}%>    
                    &emsp; <strong>Price: $<%=booking.price%></strong>
                </div>
            </div>
            <p class="card-text" style="white-space: pre-wrap"><%=booking.short_description_%></p>
            <p class="card-text" style="white-space: pre-wrap"><%-booking.description%></p>
            <p class="card-text"><small class="text-muted">Walk date: <%=booking.date.toDateString()%> starting at <%=booking.start_time%> to <%=booking.end_time%></small></p>
            <%if(!booking.closed || booking.closed === false){%>
                <a class="btn btn-info" href="/booking/<%=booking._id%>/new">Book your spot now!</a>
            <%}else{%>
                <strong>Sorry This Booking is full!</strong> Please  look at <a href="/booking">other bookings</a>, book a <a href="">personal booking</a>, or <a href="/contact">contact</a> us for more information!
            <%}%>    
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="card-title">Meeting Point: <strong><%=booking.meetingPoint[0].name%>&emsp;
                        <%if(!booking.pickup){%>
                            </strong><a href="<%=booking.meetingPoint[0].location%>" target="_blank">Location Link for <%=booking.meetingPoint[0].name%></a>
                        <%}%>
                    </h5>
                    <p><%=booking.meetingPoint[0].description%></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../../partials/footer") -%>