<%- include("partials/header") -%>
<div class="container">
    <h1 class="display-1 text-center">FAQ PAGE</h1>
    <p>
        In this page you can find answers to the most common questions people have about our walks. Take a look to see if you can find the answer to your question, if not please submit one and we will get back to you as soon as possible!
    </p>
    <%let questionNumber = 1%>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Question 1
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    Answer 1: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ducimus quaerat aperiam sunt illum unde perferendis iure eius quibusdam id odit voluptatibus cumque, blanditiis tenetur hic dolor veritatis sed vel ea maxime numquam! Assumenda, enim obcaecati aspernatur atque alias minus asperiores quae! Quia soluta labore exercitationem dolore fugiat, laboriosam porro totam hic perferendis quod voluptas beatae aspernatur, eligendi nostrum. Quod repellat perferendis veritatis repudiandae. Facilis doloribus assumenda, quia recusandae error eaque laborum accusantium optio non ipsum modi obcaecati est perferendis expedita voluptas iure delectus. Reiciendis accusantium, fugit quaerat fugiat molestias tenetur recusandae provident cumque. Omnis ut voluptate molestias dicta porro.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Question 1
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    Answer 1: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum ducimus quaerat aperiam sunt illum unde perferendis iure eius quibusdam id odit voluptatibus cumque, blanditiis tenetur hic dolor veritatis sed vel ea maxime numquam! Assumenda, enim obcaecati aspernatur atque alias minus asperiores quae! Quia soluta labore exercitationem dolore fugiat, laboriosam porro totam hic perferendis quod voluptas beatae aspernatur, eligendi nostrum. Quod repellat perferendis veritatis repudiandae. Facilis doloribus assumenda, quia recusandae error eaque laborum accusantium optio non ipsum modi obcaecati est perferendis expedita voluptas iure delectus. Reiciendis accusantium, fugit quaerat fugiat molestias tenetur recusandae provident cumque. Omnis ut voluptate molestias dicta porro.
                </div>
            </div>
        </div>
        <%questionNumber++%>
    </div>
</div>



<%- include("partials/footer") -%>