<%- include("partials/header") -%>
<div class="container">
    <h1 class="display-1 text-center">FAQ PAGE</h1>
    <p>
        In this page you can find answers to the most common questions people have about our walks. Take a look to see if you can find the answer to your question, if not please submit one and we will get back to you as soon as possible!
    </p>
    <%let questionNumber = 1%>
    <!-- NEW QUESTION -->
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: What makes a photo walk tour different from others?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Photo walks are focused on improving your photography skills and helping you experience local cultures while taking high-quality pictures and learning about your destination. While we do provide travel tips and cultural insights, photo walk tours are not focused on historical or architectural facts. 
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: How long is a photo walk tour?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: It depends on each photo walk, but 1-day walks are about 3 hours long while photo tours and bespoke packages may take a few days up to a week.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: Are the tours only conducted in English?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: At the moment, we conduct photo tours in English and Spanish.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: I am a beginner; can I still go on a photo walk?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Absolutely! Each one of our walks is designed to provide knowledge to all skill levels. We will sharpen your camera skills and provide key photography insights so you can take full advantage of our photo walks.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: What should I bring to a photo walk? 
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: We recommend you keep it light, bring your camera (DSLR, film, compact, mirrorless) or your smartphone, extra batteries and formatted SD memory cards. Also, bring a small plastic poncho or umbrella in case it rains, bottled water, comfortable walking shoes, a hat or cap (remember: the sun in Bogotá is 2500 meters closer!) and, of course, plenty of energy!
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: Are there restrooms along the tour route?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Yes, we can arrange restroom stops along our photo walk as required so please don’t be shy and feel free to ask.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: What shouldn’t I bring?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Avoid extra equipment such as full-sized tripods, lighting equipment, luggage and extra bags to best enjoy our photo walk. 
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: What happens if it rains?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: We can still take beautiful pictures with light rain, but if the weather conditions are too harsh, we will visit an enclosed area instead. 
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: How do I pay? And do you have refunds for cancellations?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: You can pay using your credit or debit card when you receive the booking confirmation email using our payments platform. If you cancel one week before the scheduled walk, we offer a full refund subject to a small fee for bank transaction fees. No refunds are provided for cancellations within one week of the scheduled photo walk.
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: Do you offer private and bespoke tours?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Yes! We offer bespoke photography walks and tours for solo travelers and groups, please contact us [hyperlink to contact form] with your travel dates and preferences and we’ll be in touch very soon. 
                </div>
            </div>
        </div>
        <%questionNumber++%>
        <!-- NEW QUESTION -->
        <div class="card">
            <div class="card-header" id="question<%=questionNumber%>">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#answer<%=questionNumber%>"
                        aria-expanded="true" aria-controls="collapseOne">
                        Q: Do you offer gift certificates?
                    </button>
                </h2>
            </div>
    
            <div id="answer<%=questionNumber%>" class="collapse" aria-labelledby="question<%=questionNumber%>" data-parent="#accordionExample">
                <div class="card-body">
                    A: Yes, we offer gift certificates for programmed walks. Please contact us [hyperlink] for further details and payment.
                </div>
            </div>
        </div>
        <%questionNumber++%>
    </div>
</div>



<%- include("partials/footer") -%>