<%- include("../partials/header") -%>
<h1 class="display-4 text-center">User Panel</h1>

<div class="container p-4 text-center">
    <a href="/user/booking/new" class="btn btn-lg btn-success">Create a new Booking</a>
    <a href="/user/walk/new" class="btn btn-lg btn-success">Create a new Walk</a>
    <a href="/user/meetingPoint/new" class="btn btn-lg btn-success">Create a new Meeting Point</a>
</div>

<div class="container">
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Currently Running Bookings</h2>
        <%runningBookings.forEach(booking=>{%>
        <a href="#" class="list-group-item list-group-item-action">
            <%=booking.date.toDateString()%> booking for <%=booking.walk[0].name%>
        </a>
        <%})%>
    </div>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Your 5 most recently used walks</h2>
        <%let i = 0%>
        <%recentBookings.forEach(booking=>{%>
            <%if (i < 5){%>
                <a href="/user/walk/<%=booking.walk[0]._id%>" class="list-group-item list-group-item-action">
                    <%=booking.walk[0].name%> last used <%=booking.dateCreated.toDateString()%> last edited <%=booking.walk[0].dateCreated.toDateString()%>
                </a>
            <%i++ }%>
        <%})%>
    </div>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Your 5 most recently used Meeting Points</h2>
        <%i = 0%>
        <%recentBookings.forEach(booking=>{%>
            <%if (i < 5){%>
                <a href="#" class="list-group-item list-group-item-action">
                    <%=booking.meetingPoint[0].name%> last used <%=booking.dateCreated.toDateString()%> last edited <%=booking.meetingPoint[0].dateCreated.toDateString()%>
                </a>
            <%i++ }%>
        <%})%>
    </div>
</div>


<%- include("../partials/footer") -%>
