<%- include("../partials/header") -%>
<h1 class="display-4 text-center">User Panel</h1>

<h2><%=booking[0]._id%></h2>
<h2><%=walk[0]._id%></h2>
<h2><%=meetingPoint[0]._id%></h2>

<%- include("../partials/footer") -%>
