<%- include("../partials/header") -%>

<h1 class="text-center">Details for Booking: <%=booking.walk[0].name%> on <%=booking.date.toDateString()%></h1>

<div class="container">
    <div class="card" >
        <img src="<%=booking.walk[0].image%>" class="card-img-top" alt="...">
        
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5 class="card-title">
                    Details for Booking: <a href="/user/walk/<%=booking.walk[0]._id%>"><%=booking.walk[0].name%></a> on <%=booking.date.toDateString()%>
                </h5>
                <div class="row">
                    <div class="col-lg-6">
                        Created on: <%=booking.dateCreated.toDateString()%> 
                        <br>Max spots: <%=booking.spots%>
                        <br>Booked Spots: <%=booking.bookedSpots%>
                        <br>Spot Price: <%=booking.price%> USD
                    </div>
                    <div class="col-lg-6">
                        Income: <%=booking.bookedSpots*booking.price%> USD
                        <%if(booking.pickup === false){%>
                            <br>Meeting Point: <a href="/user/meetingPoint/<%=booking.meetingPoint[0]._id%>"><%=booking.meetingPoint[0].name%></a>
                        <%}else{%>
                            <br>Meeting Point: Pickup
                        <%}%>
                        <br>Walk Start: <%=booking.startTime%>
                        <br>Walk End: <%=booking.endTime%>
                    </div>
                </div>
            </li>
            <div class="card-body p-0">
                <div class="accordion" id="clientAccordion">
                    <div class="card">
                        <div class="card-header" id="clients">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#clientList"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    Client Details
                                </button>
                            </h2>
                        </div>
                        <div id="clientList" class="collapse" aria-labelledby="clients" data-parent="#clientAccordion">
                            <div class="card-body">
                                <%if(booking.pickup === false){%>
                                    <%booking.clients.forEach(client=>{%>
                                        <p class="card-text">
                                            <a href="/user/client/<%=client._id%>"><%=client.name%></a> Booking Status: 
                                            <%if(client.confirmation === true){%>
                                                Confirmed
                                            <%}else{%>
                                                Confirmation Pending
                                            <%}%> || Booked on <%=client.dateCreated.toDateString()%>
                                        </p>
                                    <%})%>
                                <%}else{%>
                                    <%booking.clients.forEach(client=>{%>
                                        <p class="card-text">
                                            <a href="/user/client/<%=client._id%>"><%=client.name%></a>  Booking Status: 
                                            <%if(client.confirmation === true){%>
                                                Confirmed
                                            <%}else{%>
                                                Confirmation Pending
                                            <%}%> || Pickup point: <a href="https://www.google.com/maps/search/<%=client.meetingPoint[0].name%>/@4.6964071,-74.055839,17z" target="_blank"><%=client.meetingPoint[0].name%></a> : <a href="https://www.google.com/maps/search/<%=client.meetingPoint[0].description.replace(/ /g, '+').replace('#', '%23')%> /@4.6964071,-74.055839,17z" target="_blank"><%=client.meetingPoint[0].description%> </a> || Booked on <%=client.dateCreated.toDateString()%>
                                        </p>
                                    <%})%>    
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") -%>