<%- include("../../partials/userHeader") -%>
<h1 class="display-4 text-center">User Panel</h1>

<!-- <div class="container p-4">
    <div class="row">
        <div class="col-md-4 p-1">
            <a href="/admin/booking/new" class="btn btn-lg btn-success">New Booking</a>
        </div>
        <div class="col-md-4 p-1">
            <a href="/admin/walk/new" class="btn btn-lg btn-success">New Walk</a>
        </div>
        <div class="col-md-4 p-1">
            <a href="/admin/meetingPoint/new" class="btn btn-lg btn-success">New Meeting Point</a>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="#">Creation Tools</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/booking/new">New Booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/walk/new">New Walk</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/meetingPoint/new">New Meeting Point</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Special Bookings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/admin/booking/new/personalized">Personalized</a>
                        <a class="dropdown-item disabled" href="/admin/booking/new/seasonal">Seasonal</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Currently Running Bookings</h2>
        <%runningBookings.forEach(booking=>{%>
        <a href="/admin/booking/<%=booking._id%>" class="list-group-item list-group-item-action">
            <%=booking.date.toDateString()%> <%if(booking.closed){%><strong>[FULL]</strong><%}%> booking for <%=booking.name%> <%if(booking.pickup){%><em><strong>*Pickup</strong></em><%}%><%if(booking.personalized){%><em><strong>*Personalized</strong></em><%}%>
        </a>
        <%})%>
    </div>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Your 5 most recently used walks</h2>
        <%let i = 0%>
        <%recentBookings.forEach(booking=>{%>
            <%if (i < 5){%>
                <a href="/admin/walk/<%=booking.walk[0]._id%>" class="list-group-item list-group-item-action">
                    <%=booking.name%> last used <%=booking.date_created.toDateString()%> 
                </a>
            <%i++ }%>
        <%})%>
    </div>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">Your 5 most recently used Meeting Points</h2>
        <%i = 0%>
        <%recentBookings.forEach(booking=>{%>
            <%if (i < 5){%>
                <a href="/admin/meetingPoint/<%=booking.meetingPoint[0]._id%>" class="list-group-item list-group-item-action">
                    <%=booking.meetingPoint[0].name%> last used <%=booking.date_created.toDateString()%>
                </a>
            <%i++ }%>
        <%})%>
    </div>
</div>


<%- include("../../partials/footer") -%>