<%- include("../../partials/header") -%>

<h1 class="display-3 text-center bg-info text-white p-4">All walks from today to <%=endDate.toDateString()%></h1>
<div class="container-fluid">
    <%let i = 1%>
    <%bookings.forEach(booking=>{%>
        <%if(i%2){%>
            <%i++%>
            <div class="row">
                <img class="col-lg-6 p-3 p-lg-4" src="<%=booking.walk[0].image%>" alt="">
                <div class="col-lg-6 pt-0 p-3 pt-lg-4 pr-lg-4 pb-lg-4">
                    <div class="card m-0 h-100">
                        <div class="card-header">
                            <h5 class="display-4"><%=booking.walk[0].name%> <%if(booking.pickup){%>(Pickup)<%}%> <%if(booking.seasonal){%>(Seasonal)<%}%></h5>
                            <%if(booking.closed){%>
                                <h6 class="card-subtitle mb-2 text-muted"> Fully booked!</h6>
                            <%}else{%>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%if(!booking.personalized){%>
                                        <%if(booking.spots-booking.bookedSpots>1){%>
                                            <%=booking.spots-booking.bookedSpots%> spots Left! 
                                        <%}else{%>
                                            1 spot Left!
                                        <%}%>
                                    <%}%> 
                                </h6>
                            <%}%>
                        </div>
                        <div class="card-body h-100">
                            <h6 class="card-subtitle mb-2 text-muted">Next Walk <%=booking.date.toDateString()%></h6>
                            <p class="card-text"><%=booking.walk[0].shortDescription%></p>
                            <a class="btn btn-info" href="booking/<%=booking._id%>">More info on <%=booking.walk[0].name%></a>   
                            <%if(booking.closed){%>
                                <p>
                                    <br>
                                    <strong>Sorry This Booking is full!</strong> You can book a <a href="">personal booking</a>, or <a href="/contact">contact</a> us for more information!
                                </p>
                            <%}else{%>
                                <a class="btn btn-info" href="booking/<%=booking._id%>/new">Book spot <%=booking.walk[0].name%></a>   
                            <%}%>
                        </div>
                    </div>
                    <!-- <h1><%=booking.name%></h1>
                    <p><%=booking.description%></p> 
                    <a class="btn btn-info" href="booking/<%=booking._id%>/book">Book your spot for <%=booking.name%></a>    -->
                </div>
            </div>
        <%}else{%>
            <%i++%>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1 p-3 pt-lg-4 pl-lg-4 pb-lg-4">
                    <div class="card m-0 h-100">
                        <div class="card-header">
                            <h5 class="display-4"><%=booking.walk[0].name%> <%if(booking.pickup){%>(Pickup)<%}%> <%if(booking.seasonal){%>(Seasonal)<%}%></h5>
                            <%if(booking.closed){%>
                                <h6 class="card-subtitle mb-2 text-muted"> Fully booked!</h6>
                            <%}else{%>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <%if(!booking.personalized){%>
                                        <%if(booking.spots-booking.bookedSpots>1){%>
                                            <%=booking.spots-booking.bookedSpots%> spots Left! 
                                        <%}else{%>
                                            1 spot Left!
                                        <%}%>
                                    <%}%> 
                                </h6>
                            <%}%>
                        </div>
                        <div class="card-body h-100">
                            <h6 class="card-subtitle mb-2 text-muted">Next Walk <%=booking.date.toDateString()%></h6>
                            <p class="card-text"><%=booking.walk[0].shortDescription%></p>
                            <a class="btn btn-info" href="booking/<%=booking._id%>">More info on <%=booking.walk[0].name%></a>  
                            <%if(booking.closed){%>
                                <p>
                                    <br>
                                    <strong>Sorry This Booking is full!</strong> You can book a <a href="">personal booking</a>, or <a href="/contact">contact</a> us for more information!
                                </p>
                            <%}else{%>
                                <a class="btn btn-info" href="booking/<%=booking._id%>/new">Book spot <%=booking.walk[0].name%></a>   
                            <%}%> 
                        </div>
                    </div>
                </div>
                <img class="col-lg-6 order-1 order-lg-2 p-3 p-lg-4" src="<%=booking.walk[0].image%>" alt="">
            </div>
        <%}%>
    <%})%>
    
</div>

<%- include("../../partials/footer") -%>