<%- include("../../partials/header") -%>

<div class="container">
    <div class="card mb-3">
        <%if(booking.walk[0].image){%>
            <img class="card-img-top" src="<%=booking.walk[0].image%>" alt="">
        <%}%>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title"><%=booking.walk[0].name%> <%if(booking.personalized){%>(Personalized)<%}%></h3>
                </div>
                <div class="col-6 text-right">
                    <%if(!booking.personalized){%>
                        <%if(booking.spots-booking.bookedSpots>1){%>
                            <%=booking.spots-booking.bookedSpots%> spots Left! 
                        <%}else{%>
                            1 spot Left!
                        <%}%>
                    <%}%>    
                    &emsp; <strong>Price: $<%=booking.price%></strong>
                </div>
            </div>
            <p class="card-text"><%-booking.walk[0].shortDescription%></p>
            <p class="card-text"><%-booking.walk[0].description%></p>
            <p class="card-text"><small class="text-muted">Walk date: <%=booking.date.toDateString()%> starting at <%=booking.startTime%> to <%=booking.endTime%></small></p>
            <%if(!booking.closed || booking.closed === false){%>
                <a class="btn btn-info" href="/booking/<%=booking._id%>/new">Book your spot now!</a>
            <%}else{%>
                <strong>Sorry This Booking is full!</strong> Please  look at <a href="/booking">other bookings</a>, book a <a href="">personal booking</a>, or <a href="/contact">contact</a> us for more information!
            <%}%>    
            <div class="row mt-4">
                <div class="col-12">
                    <h5 class="card-title">Meeting Point: <strong><%=booking.meetingPoint[0].name%>&emsp;</strong><a href="<%=booking.meetingPoint[0].location%>" target="_blank">Location Link</a></h5>
                    <p><%=booking.meetingPoint[0].description%></p>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("../../partials/footer") -%>